body {
  background-color: white;
  margin: 0;
}

*::selection {
  background-color: mediumturquoise;
}

.navbar {
  overflow: auto;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
  float: right;
  display: block;
  color: 1A181E;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: 7C786B;
  color: EFE2E4;
}

.revelalogo {
  float: left;
  display: block;
  line-height: 55px;
  height: 55px;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
  color: 783812;
}

main {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    background-image: url(/images/jan-vanveen-1131039-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    padding-top:40px;
    padding-bottom: 40px;
    margin: 100px;
    text-align: center;
    color: white;
  }

  header {
    font-size: 3em;
    font-weight: 600;    
  }

  #construction {
    display: absolute;
    position: relative;
    text-align: center;
    color: EFE2E4;
  }

  .separator {
    height: 50px;
  }

  .left {
    float: left;
    width: 50%;
    background-color: CE955B;
  }

  .right {
    float: right;
    width: 50%;
    background-color: 7C786B;
  }

  .about {
    background-color: white;
    width: 100%;
    text-align: center;
    color: black;
  }

  .products {
    background-color: #CE955B;
    width: 100%;
    text-align: center;
    color: black;
  }

  .services {
    background-color: #7C786B;
    width: 100%;
    text-align: center;
    color: black;
  }

  .contact {
    background-color: #1A181E;
    width: 100%;
    color: EFE2E4;
  }

  .contactleft {
    float: left;
    width: 50%;
  }

  .contactleft p {
    padding-left: 25%
  }

  .contactleft ul {
    list-style-type: none;
    display: inline-block;
    text-align: justify;
    margin-top: 0;
    padding-left: 25%;
    font-size: 14px;
  }

  .contactright {
    float: right;
    width: 50%;
  }

  .contactright p {
    padding-left: 45%
  }

  .contactright ul {
    list-style-type: none;
    display: inline-block;
    text-align: justify;
    margin-top: 0;
    padding-left: 45%;
    font-size: 14px;
  }
}