body {
  background-color: white;
  margin: 0;
}

*::selection {
  background-color: mediumturquoise;
}

.navbar {
  overflow: auto;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
  float: right;
  display: block;
  color: 1b1a18;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: CCC5B9;
  color: 1b1a18;
}

.revelalogo {
  float: left;
  display: block;
  line-height: 55px;
  height: 55px;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
  color: BA2D0B;
  letter-spacing: 1px;
}

main {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    background-image: url(/images/jan-vanveen-1131039-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    padding-top:40px;
    padding-bottom: 40px;
    margin: 100px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    word-spacing: 10px;
  }

  header {
    font-size: 3em;
    font-weight: 600;    
  }

  #construction {
    display: absolute;
    position: relative;
    text-align: center;
    font-size: 1.2em;
    color: f2f2f2;
  }

  .separator {
    height: 50px;
  }

  .about {
    background-color: white;
    width: 100%;
  }

  .about h2 {
    text-align: left;
    padding-left: 10%;
  }

  .about p {
    text-align: left;
    padding-left: 20%
  }

  .aboutleft {
    float: left;
    width: 60%;
    background-color: white;
    color: 1b1a18;
  }

  .aboutright {
    float: right;
    width: 40%;
    background-color: 403D39;
    color: f2f2f2;
  }

  .aboutbottom {
    width: 100%;
    background-color: white;
    text-align: center;
    color: 1b1a18;
    margin-top: 20px;
  }

  .aboutbottom h2 {
    text-align: center;
    padding-left: 0;
  }

  .torenimg {
    background-image: url(/images/image-placeholder_fznwvy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 20%;
    padding-top: 20%;
    float: left;
    margin-left: 10%;
  }
  .zevimg {
    background-image: url(/images/image-placeholder_fznwvy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 20%;
    padding-top: 20%;
    float: left;
    margin-left: 10%;
  }
  .autumnimg {
    background-image: url(/images/image-placeholder_fznwvy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 20%;
    padding-top: 20%;
    float: left;
    margin-left: 10%;
  }

  .services {
    background-color: BA2D0B;
    width: 100%;
    text-align: center;
    color: black;
  }

  .products {
    background-color: BA2D0B;
    width: 100%;
    text-align: center;
    color: black;
  }

  .investors {
    background-color: white;
    width: 100%;
    text-align: center;
    color: black;
  }

  .contact {
    background-color: 1b1a18;
    width: 100%;
    color: f2f2f2;
  }

  .contactleft {
    float: left;
    width: 50%;
    font-variant: small-caps;
  }

  .contactleft p {
    padding-left: 25%;
  }

  .contactleft ul {
    list-style-type: none;
    display: inline-block;
    text-align: justify;
    margin-top: 0;
    padding-left: 25%;
    font-size: 14px;
  }

  .contactright {
    float: right;
    width: 50%;
    font-variant: small-caps;
  }

  .contactright p {
    padding-left: 45%;
  }

  .contactright ul {
    list-style-type: none;
    display: inline-block;
    text-align: justify;
    margin-top: 0;
    padding-left: 45%;
    font-size: 14px;
  }


  .testcolors {
    width: 100%;
    text-align: center;
  }

  .t1 {
    width: 20%;
    height: 50px;
    float: left;
    background-color: f2f2f2;
  }

  .t2 {
    width: 20%;
    height: 50px;
    float: left;
    background-color: CCC5B9;
  }

  .t3 {
    width: 20%;
    height: 50px;
    float: left;
    background-color: BA2D0B;
  }

  .t4 {
    width: 20%;
    height: 50px;
    float: left;
    background-color: 403D39;
  }


  .t5 {
    width: 20%;
    height: 50px;
    float: left;
    background-color: 1b1a18;
  }

}