/*
  VARIABLES
*/
.about {
  grid-area: body;
  text-align: center; }
  .about p {
    margin-top: calc(1.25 * 1em);
    margin-bottom: calc(1.25 * 1em);
    text-align: left; }
    .about p.centered {
      text-align: center;
      font-size: calc(1rem * 2); }
      @media screen and (max-width: 425px) {
        .about p.centered {
          font-size: calc(1rem * 1.5); } }
  .about h2.about-header {
    font-size: calc(1rem * 1.5 * 1.5 * 1.5);
    font-weight: 600;
    margin: calc(2 * 1em) 0 calc(1.25 * 1em) 0;
    letter-spacing: 0;
    text-transform: uppercase; }
    @media screen and (max-width: 425px) {
      .about h2.about-header {
        font-size: calc(1rem * 1.5 * 1.5); } }

.about-paragraphs {
  background-color: #222e5e;
  color: #ececec;
  display: grid;
  grid-template: auto / 1fr 2px 1fr;
  padding: calc(1.25 * 1em) 0; }
  @media screen and (max-width: 1024px) {
    .about-paragraphs {
      display: block;
      padding: calc(2 * 1em) 0; } }
  .about-paragraphs .separator {
    grid-column: 2;
    background-color: #276195;
    width: 100%;
    border-radius: 5px;
    height: 80%;
    align-self: center; }
    @media screen and (max-width: 1024px) {
      .about-paragraphs .separator {
        display: none; } }

.about-subsection {
  width: 70%;
  justify-self: center;
  margin: calc(3.25 * 1em) auto; }
  @media screen and (max-width: 1024px) {
    .about-subsection {
      width: 80vw; } }
  .about-subsection h2 {
    color: #f8eb1d;
    text-align: left;
    font-weight: 500;
    font-size: calc(1rem * 2);
    margin-bottom: calc(1.25 * 1em); }
  .about-subsection p {
    color: #ececec; }
